* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container-menu {
    background-image: url(./assets/288957-fernanda-entregar-ate-dia\ 2.png);
    background-size: cover;
    height: 100vh;
}

/* MENU DE NAVEGAÇÃO */
header {
    display: flex;
    justify-content: start;
    padding: 20px;
    color: #ffffff;
}

nav {
    margin-left: 70px;
}

nav a {
    padding-right: 25px;
    cursor: pointer;
}

nav a:hover {
    font-weight: 900;
    transition: 0.2s;
}

/* FECHANDO MENU DE NAVEGAÇÃO */

/* CONTEUDO PRINCIAPAL */
.conteudo-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

/* ESQUERDA */

.conteudo-principal h1 {
    font-size: 3rem;
}

.conteudo-principal p {
    font-size: 1rem;
}

/* FORM */

form {
    opacity: 0;
    transition: opacity 1s linear;
    background: #ffffff;
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
}

.mudarClasse {
    opacity: 1;
    
}

.form label,
h3 {
    color: #000000;
}

form h3 {
    font-size: 20px;
    text-align: center;
}

label {
    margin-top: 25px;
    display: block;
}

form input,
button,
textarea {
    width: 260px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 10px;
    color: #000000;
    background: #e6e6e6;
}

textarea {
    height: 100px;
}

button {
    background: #40BB15;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    height: 40px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

/* FIM CONTEUDO PRINCIPAL */

div.container2 {
    color: #000000;
    text-align: center;
    margin-top: 70px;
}

.div-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.titulo-card {
    background: #737373;
    line-height: 60px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.cards {
    border: 1px solid #e6e6e6;
    width: 328px;
    height: 308px;
    border-radius: 10px;
}

.cards p {
    padding: 20px;
}

.sobre-nos {
    background: #737373;
    color: #ffffff;
    line-height: 25px;
    padding: 50px;
    margin-top: 130px;
}

.sobre-nos p {
    margin-top: 25px;
}